.wrapper {
    border-radius: var(--border-medium);
    padding: var(--spacing-l) var(--spacing-l);
    background: var(--base-color);
    margin-bottom: var(--spacing-s);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    font: inherit;
    color: var(--text);
}

.name {
    font-size: var(--font-l);
    color: inherit;
}
